---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/common/Navbar.astro";
import Footer from "../components/home/Footer.astro";
import FAQsSection from "../components/home/FAQs.astro";

import "../styles/global.css";
import '@fontsource-variable/onest';
import FAQTecnico from "../components/home/FAQTecnico.astro";
import BtnScroll from "../components/common/BtnScroll.astro";
import Down from "../components/icons/Down.astro";
---

<Layout>
    <Navbar />
    <div class="pt-32 bg-background dark:bg-dark-background">
        <FAQsSection />
          <!-- Scroll down indicator -->
        <div class="gird place-items-center hidden lg:block lg:my-20">
            <BtnScroll title="Resuelve tus dudas" url="#questions">
                <Down class="w-5 h-5"/>
            </BtnScroll>
        </div>
        <div id="questions" class="scroll-m-24">
            <FAQTecnico />
        </div>
    </div>
    <Footer />
</Layout>