---
import FAQ from "../common/FAQ.astro";
import ImageIcon from "../common/ImageIcon.astro";
import TitleSection from "../common/TitleSection.astro";
import Phone from "../icons/Phone.astro";

---

<section class="flex  flex-col justify-start items-center min-h-screen bg-background pt-20 dark:bg-dark-background scroll-mt-12" id="faqs">
  <div class="max-w-6xl mx-auto px-4 lg:py-16 p-12 pb-4 w-full grid grid-cols-7 gap-20 items-start">
    <div class="col-span-3 h-[600px]">
      <!-- <ImageIcon 
        href='' 
        imageUrl='https://images.pexels.com/photos/33544834/pexels-photo-33544834.jpeg' 
        icon={Phone} 
        bgColor='bg-background'
        bgColorDark='bg-dark-background'
        shadowColor='faf9f5'
        shadowColorDark="262624"
      /> -->
    </div>
    <div class="col-span-4 grid gap-8">
      <!-- <TitleSection title="Preguntas Frecuentes"/> -->
      <h2 class="text-4xl max-w-5xl w-full mb-4 dark:text-dark-text">Preguntas <span class="text-6xl"><br>Frecuentes</span></h2>
      <div>
        <FAQ />
      </div>
    </div>
  </div>
</section>