---
import { Image } from "astro:assets";
import FAQ from "../common/FAQ.astro";
import TitleSection from "../common/TitleSection.astro";
import { titles as data } from '../../js/titles';
---

<section class="md:px-20 sm:px-10 px-5 lg:scroll-mt-18 scroll-mt-12 w-full bg-background dark:bg-dark-background flex items-start justify-center" id="faqs" aria-label="Sección de preguntas frecuentes">
  
  <!-- Desktop -->
  <div class="max-w-screen-xl mx-auto md:px-4 px-1 lg:py-6 p-8 pb-4 md:grid grid-cols-7 gap-14 items-start pt-20 hidden w-full">
    <figure class="image-container col-span-7 hidden 2xl:flex 2xl:col-span-3 h-[600px]" data-aos="fade-right" data-aos-duration="800">
      <div class="frost-frame absolute inset-0 rounded-xl pointer-events-none z-10"></div>
      <div class="ice-corners absolute inset-0 rounded-xl pointer-events-none z-20"></div>
      <Image src="/faqs.webp" alt="Cuaderno con notas manuscritas junto a café y teléfono — sección de preguntas frecuentes." width="50" height="50" class="rounded-sm hidden md:flex w-full object-cover"/>
    </figure>
    <div class="col-span-7 2xl:col-span-4 grid gap-8" data-aos="fade-down" data-aos-duration="800">
      <TitleSection title={data.faqs.title} titleHeader={data.faqs.titleHeader}/>
      <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
        <FAQ />
      </div>
    </div>
  </div>


  <!-- Mobile -->
  <div class="col-span-7 2xl:col-span-4 px-2 grid gap-8 md:hidden">
    <div class="2xl:hidden flex" data-aos="fade-down" data-aos-duration="800">
      <TitleSection title={data.faqs.title} titleHeader={data.faqs.titleHeader}/>
    </div>
    <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
      <FAQ />
    </div>
  </div>
</section>