---
import { Image } from 'astro:assets';
import { procesos } from '../../js/procesos';
---
<div class="grid col-span-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mt-10">
  {
    procesos.map((proceso, index) => {
      const Icon = proceso.icon;
      return (
        <div class="relative rounded-sm border border-0.5 border-border-default/85 bg-background/90 dark:bg-dark-surface dark:border-dark-border" data-popover-target={proceso.titleIcon}>
          <div class="absolute top-4 right-4 inline-flex items-center gap-2 bg-background-button dark:bg-dark-background rounded-sm px-3 py-1">
            <span class="font-bold text-primary"> { index + 1 } </span>
          </div>

          <div class="absolute top-4 left-4 inline-flex items-center gap-2 bg-background-button dark:bg-dark-background rounded-sm px-3 py-1">
            {Icon && ( <Icon class="shrink-0 w-4 h-4 text-primary" /> )}
            <span class="text-sm font-bold uppercase dark:text-gray-200"> {proceso.titleIcon} </span>
          </div>

          <Image alt={proceso.titleIcon || "Default Alt Text"} src={proceso.urlImage || '/path/to/default-image.jpg'} width={300} height={300} class="rounded-sm rounded-b-none w-full h-auto" loading="lazy" />

          <div class="p-6">
            <span class="text-primary font-bold mb-2 inline-block">{proceso.subtitle}</span>
            <p class="text-text-secundary dark:text-gray-300">{proceso.description}</p>
          </div>
        </div>
      )
    })
  }
</div>


