---
import Navbar from "../common/Navbar.astro";
import Contacto from "./Contacto.astro";
import FAQs from "./FAQs.astro";
import Footer from "./Footer.astro";
import Hero from "./Hero.astro";
import Planes from "./Planes.astro";
import Proyectos from "./Proyectos.astro";
import Servicios from "./Servicios.astro";
import SobreNosotros from "./Sobre-nosotros.astro";
---

<div id="container" class="relative overflow-x-hidden bg-background">
  <header>
    <Navbar />
  </header>
  
  <main>
    <Hero />
    <Servicios />
    <Proyectos />
    <SobreNosotros />
    <Planes />
    <FAQs />
    <Contacto />
  </main>
  <Footer />
</div>