---
import { faq } from "../../../js/faq"
import SectionHeader from "../../common/SectionHeader.astro";

export interface Props {
  icon: any;
}
const { icon } = Astro.props;
---

<section 
  id="faq" 
  class="relative -mt-0.5 md:px-20 sm:px-10 px-5 lg:scroll-mt-18 scroll-mt-12 w-full bg-background dark:bg-dark-background flex items-center justify-center lg:min-h-[calc(100vh-70px)]" 
  aria-label="Sección de preguntas frecuentes"
>

  <!-- Contenido principal de FAQ -->
  <div class="max-w-screen-xl mx-auto px-2 lg:py-16 p-12 pb-4 sm:px-8 lg:px-12 py-16 relative z-10">
    <SectionHeader title={"Preguntas frecuentes"} subtitle={"Todo lo que necesitas saber sobre nuestros servicios de diseño y desarrollo web antes de comenzar tu proyecto"} icon={icon}/>
    
    <!-- Grid de preguntas frecuentes -->
    <div class="grid lg:grid-cols-2 md:gap-8 gap-4">
          {
            faq.map((item, index) => {
              return (
                <div class="rounded-2xl border-0.5 border-border-300 bg-white/60 dark:bg-dark-surface border border-gray-200 dark:border-dark-border p-8 md:p-10 hover:shadow-lg transition-all duration-300 group relative">
                  <h3 class="text-xl font-bold text-dark-background dark:text-background mb-3 flex gap-2 items-start">
                    <span class="text-primary">{index + 1}.</span>
                    {item.question}
                  </h3>
                  <p class="text-gray-600 dark:text-gray-300">
                    {item.answer}
                  </p>
                </div>
              )
            })
          }    
  </div>
</section>