---
import Popover from "../../modals/Popover.astro"

import { partners } from "../../../js/datos";

---

<div class="flex -space-x-2 items-center justify-center h-full">
  {partners.map(user => (
    <Popover {...user} />
  ))}
</div>
