---
import DarkModeToggle from "../components/DarkModeToggle.astro";
---

<style>
  ul li a.active{
    color: var(--color-primary);
  }
</style>



<nav class="bg-background dark:bg-dark-background w-full fixed z-100">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href="/"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        src="/tagblade.jpg"
        class="h-12 rounded-full"
        alt="Tagblade Logo"
      />
      <span
        class="dark:text-white self-center text-2xl font-semibold whitespace-nowrap "
        >Tagblade</span
      >
    </a>

    <div class="flex items-center gap-4 lg:hidden">
      <DarkModeToggle />

      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="text-primary hover:bg-gray-100 focus:ring-border dark:text-dark-subtle-text dark:hover:bg-gray-700 dark:focus:ring-subtle-text inline-flex items-center p-2 w-10 h-10 justify-center text-sm  rounded-lg lg:hidden  focus:outline-none focus:ring-2"
        aria-controls="navbar-default"
        aria-expanded="false" 
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>

    <div class="hidden w-full lg:block lg:w-auto" id="navbar-default">
      <ul
        class="border-gray-100 rounded-lg bg-background dark:bg-dark-background dark:border-dark-background font-medium flex flex-col p-4 lg:p-0 mt-4 border  lg:flex-row lg:space-x-8 rtl:space-x-reverse lg:mt-0 lg:border-0"
      >
        <li>
          <a
            href="#home"
            class="active text-text hover:bg-primary md:hover:text-primary dark:text-background md:dark:hover:text-primary dark:hover:bg-gray-100 dark:hover:text-primary block py-2 px-3  rounded-sm  md:hover:bg-transparent md:border-0  md:p-0 md:dark:hover:bg-transparent"
            aria-current="page">Home</a
          >
        </li>
        <li  data-section="servicios">
          <a
            href="#servicios"
            class="text-text hover:bg-primary md:hover:text-primary dark:text-background md:dark:hover:text-primary dark:hover:bg-gray-100 dark:hover:text-primary block py-2 px-3  rounded-sm  md:hover:bg-transparent md:border-0  md:p-0 md:dark:hover:bg-transparent"
            >Servicios</a
          >
        </li>
        <li>
          <a
            href="#about-us"
            class="text-text hover:bg-primary md:hover:text-primary dark:text-background md:dark:hover:text-primary dark:hover:bg-gray-100 dark:hover:text-primary block py-2 px-3  rounded-sm  md:hover:bg-transparent md:border-0  md:p-0 md:dark:hover:bg-transparent"
            >Sobre nosotros</a
          >
        </li>
        <li>
          <a
            href="#proyectos"
            class="text-text hover:bg-primary md:hover:text-primary dark:text-background md:dark:hover:text-primary dark:hover:bg-gray-100 dark:hover:text-primary block py-2 px-3  rounded-sm  md:hover:bg-transparent md:border-0  md:p-0 md:dark:hover:bg-transparent"
            >Proyectos</a
          >
        </li>
        <li data-section="contacto">
          <a
            href="#contacto"
            class="text-text hover:bg-primary md:hover:text-primary dark:text-background md:dark:hover:text-primary dark:hover:bg-gray-100 dark:hover:text-primary block py-2 px-3  rounded-sm  md:hover:bg-transparent md:border-0  md:p-0 md:dark:hover:bg-transparent"
            >Contacto</a
          >
        </li>
      </ul>
    </div>

    <div class="hidden items-center gap-4 lg:flex">
      <DarkModeToggle />
      <button
        type="button"
        class="text-gray-900 bg-white border-gray-300 hover:bg-gray-100 focus:ring-gray-100 dark:bg-dark-background dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 cursor-pointer border focus:outline-none focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2"
        >Light</button
      >
    </div>
  </div>
</nav>