---
import CardSSF from "./CardSSF.astro";
---

<section id="about-us" class="section scroll-mt-20 w-full py-20 bg-white dark:bg-gray-900 m-0">
    <div class="max-w-screen-xl mx-auto px-4">
        <div class="grid gap-12 md:grid-cols-2 items-start">
            <div>
                <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">
                  Sobre nosotros
                </h1>
                <p class="text-gray-700 dark:text-gray-300 text-lg leading-relaxed max-w-3xl">
                  En <strong>Tagblade</strong>, nos dedicamos a transformar ideas en experiencias digitales funcionales. Combinamos código, estrategia y diseño para desarrollar sitios web rápidos, accesibles y adaptados a tus necesidades. 
                </p>
                <p class="text-gray-700 dark:text-gray-300 text-lg leading-relaxed mt-4 max-w-3xl">
                  Creemos en el trabajo bien hecho, el progreso paso a paso y en construir relaciones de confianza con cada cliente. Ya sea que necesites una landing page, un portafolio o una solución personalizada, estamos listos para ayudarte a dar el siguiente paso en línea.
                </p>
            </div>
            <div class="h-full">
                <CardSSF />
            </div>
        </div>
    </div>
  </section>
  