---
import tagbladeLogo from '../assets/tagbladeLogo.svg';
---

<div id="container">
	<main>
		<section id="hero">
			<img src={tagbladeLogo.src} alt="">
			<h1>Página en mantenimiento </h1>
			<p>Estamos trabajando para traerte una experiencia increíble.</p>
			<p>Vuelve pronto y descubre todo lo que <strong>Tagblade</strong> puede crear para ti.</p>
			<!-- <section id="links">
				<a class="button" href="https://www.instagram.com/tagblade/" target="_blank">
					Sígenos en instagram
				</a>
			</section> -->
		</section>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	img{
		border-radius: 10px;
		width: 150px;
		margin-bottom: 20px;
	}

	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	#hero .imgTitle{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		margin: 20px 0;
	}

	h1 {
		font-size: 22px;
		color: #3b271c;
		margin-top: 0.25em;
		margin: 0;
	}

	#links {
		display: flex;
		gap: 16px;
		margin: 20px 0;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a.button {
		color: white;
		/* background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%); */
		background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}
	@media screen and (max-width: 768px) {
		main{
			margin: 30px 10px;
		}

		h1{
			margin-bottom: 20px;
		}

		p{
			text-align: center;
			font-size: 14px;
		}
	}
</style>
