---
export interface Props {
    title?: string;
    url: string;
}

const {title, url} = Astro.props
---
<a href={url} class="rounded-full cursor-pointer bg-background font-bold dark:bg-bg-surface dark:text-primary flex items-center gap-1 py-2 px-8 text-md">
    {title}
    <slot></slot>
</a>