---
import Image from "astro/components/Image.astro";
export interface Props {
 loading?: "eager" | "lazy" | null | undefined;
}
const { loading = "eager" } = Astro.props;
---

<a
href="/"
class="flex items-center space-x-3 rtl:space-x-reverse"
>
<Image src={"/tagblade.jpg"} alt={"Tagblade Logo"} width={40} height={40} class={"rounded-xl"} loading={loading}/>
<span
  class="dark:text-white self-center text-2xl font-semibold whitespace-nowrap "
  >Tagblade</span
>
</a>