---
import Logo from "./Logo.astro";
import HamburgerButton from "./HamburgerButton.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
import LinksNavbar from "./LinksNavbar.astro";
import { navbarLinks } from "../../js/navbarLinks";
---

<style>
  ul li a.active{
    color: var(--color-primary);
  }
</style>

<nav class="bg-background dark:bg-dark-background fixed w-full top-0 start-0 border-b border-gray-200 dark:border-dark-border z-50">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <Logo />
    <div class="flex lg:order-2 space-x-3 lg:space-x-0 rtl:space-x-reverse items-center lg:gap-6 gap-2">
        <button id="toggleSnow" class="cursor-pointer">
          <img src="/christmas/snowflake.png" alt="" class="w-5 h-5">
        </button>
        <DarkModeToggle />
        <HamburgerButton />
    </div>
    <LinksNavbar links={ navbarLinks }/>
  </div>
</nav>


<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const toggleButton = document.querySelector('[data-collapse-toggle]');
    const menu = document.getElementById('navbar-default');

    document.addEventListener('click', (event) => {
      const isClickInside = toggleButton.contains(event.target) || menu.contains(event.target);
      const isVisible = !menu.classList.contains('hidden');

      if (!isClickInside && isVisible) {
        toggleButton.click();
      }
    });

    const navLinks = menu.querySelectorAll('a');
    navLinks.forEach(link => {
      link.addEventListener('click', () => {
        if (window.innerWidth < 1024 && !menu.classList.contains('hidden')) {
          toggleButton.click();
        }
      });
    });
  });

  // Marcar enlace activo según la URL
  const setActiveLink = () => {
    const currentUrl = window.location.pathname + window.location.hash;
    const links = document.querySelectorAll('#navbar-default a');

    links.forEach(link => {
      const href = link.getAttribute('href');

      // Quitar clase
      link.classList.remove('active');

      // Comparación ruta y hash
      if (href === currentUrl || href === window.location.pathname) {
        link.classList.add('active');
      }
    });
  };

  setActiveLink();
  window.addEventListener('hashchange', setActiveLink);


  // Toggle de copos de nieve
  const btn = document.getElementById("toggleSnow");
  const snow = document.getElementById("snowflakes");

  btn.addEventListener("click", () => {
    snow.classList.toggle("hidden");
    localStorage.setItem("snow-active", snow.classList.contains("hidden") ? "0" : "1");
  });
</script>


