---

import Logo from "./Logo.astro";
import HamburgerButton from "./HamburgerButton.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
import LinksNavbar from "./LinksNavbar.astro";

export interface Props {
  whatsappNumber: string;
  links: { name: string; href: string; class?: string }[]
}

const { links = [], whatsappNumber } = Astro.props
---

<style>
  ul li a.active{
    color: var(--color-primary);
  }
</style>

<nav class="bg-background dark:bg-dark-background fixed w-full top-0 start-0 border-b border-gray-200 dark:border-dark-border z-50">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <Logo />
    <div class="flex lg:order-2 space-x-3 lg:space-x-0 rtl:space-x-reverse items-center lg:gap-6 gap-2">
        <DarkModeToggle />
        <HamburgerButton whatsappNumber={whatsappNumber}/>
    </div>

    <LinksNavbar links={links}/>
  </div>
</nav>


<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const toggleButton = document.querySelector('[data-collapse-toggle]');
    const menu = document.getElementById('navbar-default');

    // Cerrar el menú al hacer clic fuera
    document.addEventListener('click', (event) => {
      const isClickInside = toggleButton.contains(event.target) || menu.contains(event.target);
      const isVisible = !menu.classList.contains('hidden');

      if (!isClickInside && isVisible) {
        toggleButton.click(); // ¡Simula el clic para que Flowbite lo cierre!
      }
    });

    // Cerrar al hacer clic en un link, solo en móvil
    const navLinks = menu.querySelectorAll('a');
    navLinks.forEach(link => {
      link.addEventListener('click', () => {
        if (window.innerWidth < 1024 && !menu.classList.contains('hidden')) {
          toggleButton.click(); // Simula clic de nuevo
        }
      });
    });
  });
</script>
