---
interface Props {
  value: string;
  text: string;
  delay?: string;
}

const { value, text, delay = "100" } = Astro.props;
---

<div 
  data-aos="fade-up"
  data-aos-delay={delay}
  data-aos-duration="800"
  data-aos-easing="ease-out"
  class="flex flex-col items-center"
>
  <span class="text-4xl font-extrabold text-primary">{value}</span>
  <p class="mt-2 text-gray-700 dark:text-gray-300 text-lg">{text}</p>
</div>