---
import LineDiv from './LineDiv.astro';

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle,
} = Astro.props;   
---
<div class="grid place-items-center max-w-3xl m-auto w-full">
  <div class="flex gap-4 items-center">
    <img src="/christmas/christmas-bell.png" alt="" class="w-10 h-10 mb-2 -rotate-12"/>
    <h2 class="text-4xl dark:text-dark-text text-center">{title}</h2>
    <img src="/christmas/christmas-bell.png" alt="" class="w-10 h-10 mb-2 rotate-12"/>
  </div>
    <!-- <LineDiv /> -->
    { subtitle ? ( <p class="text-xl sm:text-center mt-6 dark:text-gray-300">{subtitle}</p>) : <></> }
</div>