---
export interface Props {
  index: number;
  animation?: string;
}

const { index, animation = "fade" } = Astro.props;
---

<div class="md:flex md:flex-col items-center justify-center md:w-24 lg:w-28 shrink-0 hidden">
    <div data-aos={animation} data-aos-delay={index * 100} data-aos-duration="800" data-aos-anchor-placement="top-bottom"
      class="flex items-center justify-center w-14 h-14 rounded-full bg-primary/10 text-primary border-4 border-white dark:border-dark-background shadow-lg"
    >
      <span class="text-xl font-bold">{index + 1}</span>
    </div>
</div>